.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(196, 17, 17);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modalBtn {
  position: fixed;
  opacity: 0;
  padding: 20px;
}

.overlay {
  background-color: rgb(58, 146, 159);
  position: fixed;
  width: 100%;
  height: 100%;
}

.modalContainer{
  max-width: 600px;
  width: 100%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.closeBtn {
  position: fixed;
  font-size: x-large;
  color: rgb(234, 100, 4);
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.jumbotron {
  color: rgb(39, 136, 136);
  text-align: center;
}

.card {
  background-color: rgb(147, 197, 197);
  width: 600px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
}
