body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* p {
  font-size: 16px;
}

/* .modal-content {
  -webkit-box-shadow: -1px 1px 5px 9px #333;
  -moz-box-shadow: -1px 1px 5px 9px #333;
  box-shadow: -1px 1px 50px 1px #333;
} */

.modal-header,
.modal-body,
.modal-footer {
  background: #002849 !important;
}

.modal-body img {
  width: auto;
  height: 150px;
}
